.overlay{
    z-index: 1;
}

.banner .about-mace{
    z-index: 999;
}

.banner .about-mace h2{
    color: whitesmoke;
}

.banner .about-mace .description-one p{
    color: white;
}
.mace{
  color: white;
  font-size: 40px;
  font-weight: 600;
}
.desc{
  font-size: 22px !important;
  line-height: normal;
  text-align: justify;
}
.logo{
  width:70%;
  align-items: center;
}
.footer{
  position: relative;
  margin-top:4vw;
  padding-top: 2vw;

}

.image-container{
  justify-content: end;
}
